
* {
	font-family: Verdana;
}

p {
	margin-bottom: 5px;
	
}

ul {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
	background-color: #00b36b;
	padding-right: 15px;
	padding-bottom: 20px;
}

li {
	display:inline;
}

.bg {
	background-color: #ffccf2;
}

.blockDiv {
    float:left;
    margin: auto;
}

.lineDiv {
	margin: 11%;

}

.smallTextInput {
	width:150px;
	margin-right: 5px;

}

.longTextInput {
	width:300px;
	margin-bottom: 1px;
}

.dropdownInput {

}
.formCheckbox {

}

.formButton {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;	
	width: 70%;
	height: 30px;
}

.country {
    margin: auto 20px;
    display: inline-block;
    margin-bottom: 2%;
}

.postcode {
    margin: auto;
    display: inline-block;
    margin-bottom: 2%;
}

.radioInput {
	margin-bottom: 3%;
	font-size: 12px;
}

.textareaInput {
	resize: none;
	margin-bottom: 1%;
}